.details-panel {
  background-color: white;
  border: 1px solid #e7e6f0 !important;
  border-radius: 5px;
  margin-bottom: 15px;
}

.detail {
  padding: 0 15px;
  background-color: transparent;
  border-bottom: 1px solid #e5deec !important;
}

.detail-title {
  font-family: "NunitoBold", serif;
  font-size: 16px;
  color: #3f3d4d;
  margin-bottom: 0;
}

.detail-text {
  margin: 15px 0;
}
