.header-teaching-plan.header.header-ios {
  height: 200px;
}

.title-teaching-plan {
  font-size: 24px;
  color: white;
  margin: 0;
}

.button-left {
  float: left;
  height: 30px;
  position: absolute;
}

.header-teaching-plan {
  display: block;
  overflow: hidden;
}

.header-teaching-plan {
  height: 270px;
}

.unity-name {
  font-size: 14px;
  color: white;
  margin: 6px 0 6px 0;
}

.description {
  font-size: 14px;
  color: white;
  margin: 6px 0 12px 0;
}

.toolbar-content.toolbar-content-wp,
.toolbar-content.toolbar-content-ios,
.toolbar-content.toolbar-content-md {
  margin-left: 0 !important;
}
ion-back-button {
  --color: #fff;
}

.back-button.show-back-button {
  display: none;
}

.contents-list-item {
  font-size: 14px;
  color: #3f3d4d;
  margin: 0;
  list-style-type: none;
}

.contents-list {
  padding: 0;
  margin: 0;
}

.page-content {
  --padding-bottom: calc(15px + env(safe-area-inset-bottom));
}
