.unity_name {
  font-family: "NunitoRegular", serif;
  font-size: 14px !important;
}

.item-teaching-text {
  font-family: "NunitoRegular", serif;
  font-size: 14px !important;
}

.text-view {
  text-transform: none;
  text-align: right;
  font-family: "NunitoRegular", serif;
  font-size: 12px !important;
  margin-right: 10px;
  margin-top: 1px;
  margin-left: auto;
}

.accordion-list-item-plan {
  width: auto;
  height: 50pt;
  padding-left: 0;
  background-color: transparent;
}

.accordion-list-item {
  background-color: #f9f5fc;
}
ion-list-header {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 0 0 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 9;
}
