<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Conteúdos de aula</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
      <ion-button (click)="newContentRecordForm()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div *ngIf="!contentDays.length" class="empty-results">
    <p>Nenhum conteúdo encontrado.</p>
  </div>
  <div *ngFor="let contentDay of contentDays; let i = index">
    <h3 class="date-header">{{ contentDay.format_date }}</h3>
    <ion-accordion-group>
      <ion-accordion *ngFor="let unity of contentDay.unities; let y = index">
        <ion-item slot="header">
          <ion-label>{{ unity.name }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>
            <ion-button
              fill="clear"
              size="default"
              (click)="newContentRecordForm(contentDay.date, unity.id)"
            >
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              Adicionar novo conteúdo
            </ion-button>
          </ion-item>
          <ion-item
            *ngFor="let item of unity.unityItems;"
            (click)="openContentRecordForm(contentDay.date, unity.id, item.discipline_id, item.classroom_id, item.grade_id, item.description, item.classroom_name, unity.name)"
          >
            <p>{{ item.description }} - {{ item.classroom_name }}</p>

            <ion-badge slot="end">
              {{ item.contents.length }}/{{ item.uniqueContents.length }}
            </ion-badge>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
