<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Frequência</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
      <ion-button (click)="newFrequency()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div *ngIf="lastFrequencyDays.length === 0" class="empty-results">
    <p>Nenhuma frequência encontrada.</p>
  </div>
  <div *ngIf="lastFrequencyDays.length">
    <div *ngFor="let frequencyDay of lastFrequencyDays; let i = index">
      <div *ngIf="i === 0 && !frequencyDay.exists">
        <h3 class="date-header">{{ frequencyDay.format_date }}</h3>
        <div class="empty-results">
          <p>Ainda não há nenhuma chamada hoje.</p>
        </div>
      </div>
      <div *ngIf="frequencyDay.exists">
        <h3 class="date-header">{{ frequencyDay.format_date }}</h3>
        <ion-accordion-group>
          <ion-accordion
            *ngFor="let unity of frequencyDay.unities; let y = index"
          >
            <ion-item slot="header">
              <ion-label>{{ unity.name }}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item
                *ngFor="let classroomDiscipline of unity.classroomDisciplines;"
                (click)="editFrequency(unity.id, classroomDiscipline.classroomId, frequencyDay.date, classroomDiscipline.disciplineId, classroomDiscipline.classNumbers)"
              >
                <ion-label class="view-eye">
                  <span *ngIf="classroomDiscipline.disciplineId">
                    {{ classroomDiscipline.disciplineName }} - {{
                    classroomDiscipline.classroomName }}
                  </span>
                  <span *ngIf="!classroomDiscipline.disciplineId">
                    {{ classroomDiscipline.classroomName }}
                  </span>
                </ion-label>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </div>
  </div>
  <div class="load-more-frequencies">
    <ion-button (click)="loadMoreFrequencies()">
      Carregar mais frequências
    </ion-button>
  </div>
</ion-content>
