.page-content {
  background-color: #f0ebf8;
  height: 100%;
  --padding-start: 15px;
  --padding-end: 15px;
}

ion-title.title.title-ios {
  padding: 0 12px;
}

.toolbar-title {
  font-size: 24px;

  padding-right: 10px;
  overflow: visible;
}

.frequency-day {
  font-size: 18px;
  color: #868499;
  padding-left: 12px;
}

.frequency-day:first-of-type {
  padding-top: 20px;
}

.accordion-list-item .view-eye {
  font-size: 16px;
  text-transform: uppercase;
  color: #3f3d4d;
  padding-left: 15px;
  background: url("../../assets/img/iconView@2x.png") no-repeat right;
  background-size: 19pt 14pt;
  margin-right: 10px;
}

.accordion-list-item-frequency-index {
  background-color: white !important;
}

.frequency-space {
  margin-bottom: 20px;
}
