<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Planos de aula</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div *ngIf="!unities.length" class="empty-results">
    <p>Nenhum plano de aula foi encontrado.</p>
  </div>
  <ion-accordion-group *ngFor="let unity of unities; let i=index">
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>{{ unity.name }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item
          *ngFor="let lessonPlan of unity.lessonPlans;"
          (click)="openDetail(lessonPlan.id)"
        >
          <ion-label class="view-eye"> {{ lessonPlan.description }} </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
