<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="multiple-lines">
    <img
      alt="Frequência"
      class="students-frequency-edit-img edit-img"
      src="assets/img/students-frequency-edit/ilustraFrequencia@2x.png"
    />
    <p class="title-students-frequency-edit">Lista de Frequência</p>
    <p class="unity-name-students-frequency-edit">{{ unityName }}</p>
    <p class="date-students-frequency-edit">{{ formatDate }}</p>
  </div>
</ion-header>

<ion-content class="page-content" id="students-frequency-edit-page">
  <h3 class="content-page-section">Detalhes da Chamada</h3>
  <div class="details-panel">
    <div class="detail">
      <h3 class="detail-title">Turma</h3>
      <p class="detail-text">{{ classroomName }}</p>
    </div>
    <div class="detail" *ngIf="disciplineName">
      <h3 class="detail-title">Disciplina</h3>
      <p class="detail-text">{{ disciplineName }}</p>
    </div>
  </div>

  <h3 class="content-page-section">Lista de Presença</h3>

  <ion-grid class="grid">
    <ion-row class="grid-row" *ngFor="let student of students">
      <ion-col>
        <div class="student-name">
          {{ student.name || student.student.name }}
        </div>

        <ion-list *ngIf="!globalAbsence" class="frequency-checkbox">
          <ion-item
            *ngFor="let frequency of student.frequencies; let i = index"
            class="frequency-item"
            lines="none"
          >
            <label>
              <ion-checkbox
                [(ngModel)]="frequency.present"
                (ionChange)="updateFrequency(frequency, classes[i], $event.detail.checked)"
                [attr.aria-label]="classes[i]"
              >
                {{ classes[i] }}ª a
              </ion-checkbox>
            </label>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="globalAbsence">
          <ion-radio-group
            [(ngModel)]="student.present"
            (ionChange)="updateFrequency(student)"
            class="frequency-checkbox"
          >
            <ion-item class="frequency-item" lines="none">
              <label>
                <ion-radio [value]="true" class="global-frequency-present">
                  Presente
                </ion-radio>
              </label>
            </ion-item>
            <ion-item class="frequency-item" lines="none">
              <label>
                <ion-radio [value]="false" class="global-frequency-absent">
                  Faltou
                </ion-radio>
              </label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
