@font-face {
  font-family: "NunitoLight";
  src: url("../assets/fonts/Nunito/Nunito-Light.ttf");
}

@font-face {
  font-family: "NunitoBold";
  src: url("../assets/fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
  font-family: "NunitoRegular";
  src: url("../assets/fonts/Nunito/Nunito-Regular.ttf");
}
