<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p class="title-content-record">{{ displayDate }}</p>
      <p class="content-record-unity-name">{{ contentRecord.unity_name }}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <div class="details-panel">
    <p class="content-record-description">
      {{ contentRecord.description }} - {{ contentRecord.classroom_name }}
    </p>

    <ion-list>
      <ion-item *ngFor="let content of contents">
        <ion-checkbox [(ngModel)]="content.checked">
          {{ content.description }}
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="newContent"
          (change)="addContent()"
          name="newContent"
          placeholder="Adicionar item..."
        >
        </ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
