.title-content-record {
  font-size: 24px;
  color: white;
  margin: 0;
}

.content-record-unity-name {
  font-size: 14px;
  color: white;
  margin: 6px 0 6px 0;
}

.content-record-description {
  margin-left: 10px;
  font-size: 16px;
}

.page-content {
  --padding-bottom: calc(15px + env(safe-area-inset-bottom));
}

#content-record-form {
  .item-inner {
    border-bottom: 0;
  }
  ion-item.item-input {
    border-bottom: 0;
  }
  ion-item.item-input.input-has-focus:last-child {
    box-shadow: none;
  }
  .item.item-md .checkbox-md {
    margin: 9px 15px 9px 4px;
  }
}
