<ion-header>
  <ion-toolbar>
    <ion-title>Nova frequência</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content" id="frequency-page">
  <form #f="ngForm" (ngSubmit)="frequencyForm(f)">
    <div class="form-frequency">
      <div class="form-item" *ngIf="unities">
        <h3 class="form-item-title">Qual a escola?</h3>
        <ion-list>
          <ion-radio-group
            [(ngModel)]="unityId"
            name="unity"
            (ionChange)="onChangeUnity()"
            required
          >
            <ion-item *ngFor="let unity of unities">
              <ion-radio
                [attr.aria-label]="unity.description"
                value="{{ unity.id }}"
              >
                {{ unity.description }}
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
      <div *ngIf="!unities.length" class="empty-results">
        <p>Nenhuma escola encontrada.</p>
      </div>

      <div
        class="form-item"
        *ngIf="classrooms.length > 0"
        id="frequency-classroom"
      >
        <h3 class="form-item-title">Turma</h3>
        <ion-list>
          <ion-radio-group
            [(ngModel)]="classroomId"
            (ionChange)="onChangeClassroom()"
            name="classroom"
            required
          >
            <ion-item
              *ngFor="let classroom of classrooms"
            >
              <ion-radio
                [attr.aria-label]="classroom.description"
                value="{{ classroom.id }}"
              >
                {{ classroom.description }}
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>

      <div class="form-item" *ngIf="!globalAbsence" id="frequency-discipline">
        <h3 class="form-item-title">Disciplina</h3>
        <ion-list>
          <ion-radio-group
            [(ngModel)]="disciplineId"
            name="discipline"
            required
          >
            <ion-item
              *ngFor="let discipline of disciplines"
            >
              <ion-radio
                [attr.aria-label]="discipline.description"
                value="{{ discipline.id }}"
              >
                {{ discipline.description }}
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>

      <div class="form-item" *ngIf="!globalAbsence" id="frequency-classes">
        <h3 class="form-item-title">Aulas</h3>
        <ion-list class="itens-checkbox">
          <ion-item
            class="form-item-check-item"
            *ngFor="let classCss of classes;"
          >
            <ion-checkbox
              [checked]="selectedClasses.indexOf(classCss) > -1"
              (ionChange)="updateSelectedClasses(classCss)"
            >
              {{ classCss }}ª
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </div>

      <div
        *ngIf="classrooms.length"
      >
        <h3 class="form-item-title">Data</h3>
        <ion-datetime
          [(ngModel)]="date"
          name="date"
          locale="pt-BR"
          presentation="date"
          [max]="currentDate.toISOString()"
        ></ion-datetime>
      </div>

      <ion-button
        expand="block"
        type="submit"
        class="button-frequency"
        [disabled]="!f.valid || (!globalAbsence && !selectedClasses.length)"
        *ngIf="unities.length"
      >
        Carregar lista de frequência
      </ion-button>
    </div>
  </form>
</ion-content>
